<mat-card id="header" [class.fixed]="small | async" >
  <div fxLayout.gt-md="row" fxLayout.lt-lg="column" fxLayoutAlign.gt-md="space-around start" fxLayoutAlign.lt-lg="center center">

    <h1 id="header-text">10K勉強</h1>

    <mat-card>This is the core 10k deck, organized by kanji</mat-card>

    <mat-radio-group aria-label="Select an option" [ngModel]="kanjilist$ | async" (change)="kanjilist$.next($event)">
      <mat-radio-button value="rtk">RTK</mat-radio-button>
      <mat-radio-button value="common">Common</mat-radio-button>
    </mat-radio-group>


    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput color="primary" type="text" (input)="searchText.next($event.target.value)" />
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Kanji Results</mat-label>
      <input matInput color="primary" type="number" [ngModel]="resultLimit | async" (input)="resultLimit.next($event.target.value)" />
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Don't group these common kanji</mat-label>
      <input matInput color="primary" type="text" [ngModel]="ignoreKanji | async" (input)="ignoreKanji.next($event.target.value)" />
    </mat-form-field>

    <div>
      <mat-checkbox [ngModel]="showNoSentenceKanji | async" (ngModelChange)="showNoSentenceKanji.next($event)">Show Kanji with no sentences</mat-checkbox>
      <mat-checkbox [ngModel]="showFurigana | async" (ngModelChange)="showFurigana.next($event)">Show furigana</mat-checkbox>
    </div>

    <div>
      <button mat-button color="primary" type="button" (click)="export()">Export</button>
    </div>

  </div>
</mat-card>

<div id="results">
  <div *ngFor="let row of (limitedSentences | async)">
    <mat-card class="result-card">
      <div class="keyword"><small>{{row.number}} - {{row.keyword}}</small></div>
      <div class="kanji" [id]="row.kanji">{{row.kanji}}</div>

      <div *ngFor="let sentence of row.sentences">
        <div class="sentences" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="japanese" [innerHTML]="sentence.htmlsentence"></div>
          <div class="english">{{sentence.english}}</div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
