.kanji {
  font-size: 3em;
  text-align: center;
  line-height: 45px;
}

.english {
  float: right;
}

#header {
  width: 100%;
  position: fixed;
  height: 60px;
  top: 0;
  z-index: 9;
  margin: 5px;
}

#results {
  margin-top: 80px;
}

mat-checkbox {
  margin-left: 10px;
}

.result-card {
  margin: 5px;
}

#header-text {
  display: inline;
  margin: 5px;
}

.keyword {
  text-align: center;
}

.sentences {
  font-size: 1.5em;
}
